/*CSS REFRESH*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    
}

/*TEXT DECORATION RESET*/
a{
text-decoration: none;
color: black;
}


/*header,navbar*/

header{
    height: 12vh;
    padding: 10px;
    box-shadow: 0 7px 2px -2px rgb(236, 236, 236);
}

nav{
    width: 58%;
}

.header_logo{
    width: 60px;
}

.nav_links{
    font-size: 20px;
    font-weight: bold;
    gap: 25px;
}

nav a:hover{
    opacity: 0.7;
}

.nav_profile{
    width: 50px;
    border-radius: 50%;
}

/*Constants*/

section{
    min-height: 88vh;
    width: 100%;
    overflow: hidden;
}

section h1{
    font-size: 32px;
}

section p{
    font-size:18px;
}

footer{
    background-color: rgb(236, 236, 236);
}

footer a:hover{
    opacity: 0.7;
}


/*hero-section*/
.hero_img{
    width: 50%;
}

.hero_section{
    gap: 5%;
}

.hero_cards{
border: solid 2px black;
border-radius: 10px;
box-shadow: 1px 7px;

}

.hero_cards img{
    width: 40px;
}

.hero_cards:hover{
    color:white;
    background-color: rgb(0, 220, 220);
    box-shadow: 1px 10px;
    scale: 1.05;
    transition: all;
    transition-duration: 0.2s;
}



/*For Section height*/

@media (min-width:768px){
    
    section{
        max-height: 88vh;
    }
}







@media (max-width:1024px){
    
    .nav_links{
        font-size: 18px;
    }

    section h1{
        font-size: 27px;
    }
    section p{
        font-size: 16px;
    }
    .hero_cards img{
        width: 30px;
    }
    /*to avoid overflow*/
    .hero_content{
        max-width: 300px;
     }

    
}


@media (max-width:768px){
    
    .nav_links{
        font-size: 16px;
    }
    .hero_img{
        width: 50%;
    }

    .hero_section{
        flex-direction: column;
    }

    section h1{
        font-size: 26px;
    }
    
    section p{
        font-size: 14px;
    }
    .hero_cards img{
        width: 25px;
    }

    
    
}

@media (max-width:516px){
    nav{
        width: 70%;
    }
    .logo_text{
        display: none;
    }
    /*Since we can't use Javascript I did not include a mobile menu, so I left the profile logo instead because it's important*/
    .nav_links{
        font-size: 0px;
    }

    section h1{
        font-size: 24px;
    }

    .hero_img{
        width: 90%;
    }

    section p{
        font-size: 13px;
    }
    .hero_cards img{
        width: 20px;
    }
    
    
    
}
